.DS_Store
.htaccess
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
node_modules/
.sass-cache
*.css.map
dist/css/master.css.map
*.sublime-project
*.sublime-workspace
wp-content/advanced-cache.php
wp-content/db.php
wp-content/object-cache.php
wp-content/w3tc-config/
wp-config.php
local-config.php