/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

$site-max-width: 90em;
$site-width:95%;
$site-narrow-width: 90%;
$site-x-narrow-width: 85%;
$content-max-width:46em;
$paragraph-max-width: 35em;