/*------------------------------------*\
    $BOXES.CSS
\*------------------------------------*/

/**
 * This file define some genric box styles to be used when more specific styles aren't really needed. When a box needs something more than a bit of padding it should really have it's own style
 */

.box {
	padding:$base-spacing-unit * 2 $base-spacing-unit;

	> *:last-child {
		margin-bottom:0;
	}
}

.box--thin {
	padding:$base-spacing-unit;
}

.box--x-thin {
	padding:$base-spacing-unit / 2;
}

.box--flush-sides {
	padding-left:0;
	padding-right:0;
}

.box--flush-ends {
	padding-top:0;
	padding-bottom:0;
}

.box--flush {
	padding:0;
}